/* style par défaut *{}
*
{
    border: 2px solid black;
}
*/

h1
{
color: blue;
}

p 
{
    /* commentaire */
    color: red;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    /* Système de rattrapage pour la police 
    Si Arial installé chez le client affiche 
    Arial sinon affiche Helvetica etc */
    font-weight: bold; /* gras */
    text-align: center;
}

/* style appliqué à tous les élèments de la classe "paragraphe" */
.paragraphe
{
    color: blue;
}
/* style appliqué à l'élèment avec l'id "unique" */
#unique
{
    color: green;
    font-size: 80px;
}

/* pseudo-classes de la classe "a" 
a:link
{
    color: orange;
}

a:visited
{
    color: blue;
    font-size: 50px;
}

a:hover
{
    color: orangered;
}

/* selecteur imbriqué
div div p 
{
    color: green;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: normal;
    text-align: left;
}
*/